{
  "openapi": "3.1.0",
  "info": {
    "title": "PMEi Memory API",
    "version": "1.0.2",
    "description": "Secure, lawful memory shards for Dave/PMEi."
  },
  "servers": [
    { "url": "https://philmirrorenginei.ai" }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "X-API-KEY" }
    },
    "schemas": {
      "SaveMemoryRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "user_id": { "type": "string" },
          "thread_id": { "type": "string" },
          "slide_id": { "type": "string" },
          "glyph_echo": { "type": "string" },
          "drift_score": { "type": "number" },
          "seal": { "type": "string" },
          "content": { "type": "string" }
        },
        "required": ["user_id","thread_id","slide_id","glyph_echo","drift_score","seal","content"]
      },
      "MemoryItem": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "user_id": { "type": "string" },
          "thread_id": { "type": "string" },
          "slide_id": { "type": "string" },
          "glyph_echo": { "type": "string" },
          "drift_score": { "type": "number" },
          "seal": { "type": "string" },
          "content": { "type": "string" },
          "ts": { "type": "integer", "format": "int64" }
        },
        "required": ["user_id","thread_id","slide_id","glyph_echo","drift_score","seal","content","ts"]
      },
      "MemoryList": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/MemoryItem" },
        "maxItems": 200
      },
      "MaybeMemory": {
        "type": "object",
        "description": "Latest memory or {} when none.",
        "additionalProperties": false,
        "properties": {
          "user_id": { "type": "string" },
          "thread_id": { "type": "string" },
          "slide_id": { "type": "string" },
          "glyph_echo": { "type": "string" },
          "drift_score": { "type": "number" },
          "seal": { "type": "string" },
          "content": { "type": "string" },
          "ts": { "type": "integer", "format": "int64" }
        }
      },
      "SaveMemoryResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": { "type": "string", "enum": ["ok"] },
          "slide_id": { "type": "string" },
          "ts": { "type": "integer", "format": "int64" },
          "request_id": { "type": "string" }
        },
        "required": ["status","slide_id","ts","request_id"]
      },
      "PrivacyFilterRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": { "content": { "type": "string" } },
        "required": ["content"]
      },
      "PrivacyFilterResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": { "filtered_content": { "type": "string" } },
        "required": ["filtered_content"]
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "request_id": { "type": "string" }
        },
        "required": ["error","code","request_id"]
      }
    }
  },
  "security": [{ "ApiKeyAuth": [] }],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health",
        "security": [],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/healthz": {
      "get": {
        "summary": "Liveness probe",
        "operationId": "healthz",
        "security": [],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Return this OpenAPI spec",
        "operationId": "get_openapi",
        "security": [],
        "responses": { "200": { "description": "Spec" } }
      }
    },
    "/save_memory": {
      "post": {
        "summary": "Save a compressed memory shard",
        "operationId": "save_memory",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SaveMemoryRequest" } } }
        },
        "responses": {
          "200": { "description": "Saved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SaveMemoryResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/latest_memory": {
      "get": {
        "summary": "Return the most recent memory or {}",
        "operationId": "get_latest_memory",
        "responses": {
          "200": { "description": "Latest memory", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MaybeMemory" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/get_memory": {
      "get": {
        "summary": "Return a list of memories (newest first)",
        "operationId": "get_memory",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "minimum": 1, "maximum": 200 } },
          { "name": "user_id", "in": "query", "schema": { "type": "string" } },
          { "name": "thread_id", "in": "query", "schema": { "type": "string" } },
          { "name": "slide_id", "in": "query", "schema": { "type": "string" } },
          { "name": "seal", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Array of memory items", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MemoryList" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/privacy_filter": {
      "post": {
        "summary": "Filter sensitive/PII data before saving",
        "operationId": "privacy_filter",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrivacyFilterRequest" } } }
        },
        "responses": {
          "200": { "description": "Filtered text", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrivacyFilterResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    }
  }
}
