{
  "openapi": "3.1.0",
  "info": {
    "title": "PMEA Memory API",
    "version": "1.0.0",
    "description": "Endpoints Dave uses to save and retrieve lawful memory shards."
  },
"servers": [ { "url": "https://philmirrorenginei.ai" } ]
  "components": {
    "securitySchemes": {
      "MemoryKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {
      "SaveMemoryRequest": {
        "type": "object",
        "properties": {
          "user_id":   { "type": "string", "description": "Anchor: user" },
          "thread_id": { "type": "string", "description": "Anchor: thread" },
          "slide_id":  { "type": "string", "description": "Anchor: slide" },
          "glyph_echo": { "type": "string" },
          "drift_score": { "type": "number" },
          "seal": { "type": "string" },
          "content": { "type": "string" }
        },
        "required": ["user_id", "thread_id", "slide_id", "glyph_echo", "drift_score", "seal", "content"],
        "additionalProperties": false
      },
      "MemoryItem": {
        "type": "object",
        "properties": {
          "user_id":   { "type": "string" },
          "thread_id": { "type": "string" },
          "slide_id":  { "type": "string" },
          "glyph_echo": { "type": "string" },
          "drift_score": { "type": "number" },
          "seal": { "type": "string" },
          "content": { "type": "string" },
          "ts": { "type": "integer", "description": "unix seconds" }
        },
        "required": ["user_id","thread_id","slide_id","glyph_echo","drift_score","seal","content","ts"],
        "additionalProperties": false
      },
      "MemoryList": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/MemoryItem" }
      },
      "SaveMemoryResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "slide_id": { "type": "string" }
        },
        "required": ["status", "slide_id"],
        "additionalProperties": false
      },
      "LatestMemoryResponse": {
        "oneOf": [
          { "$ref": "#/components/schemas/MemoryItem" },
          { "type": "object", "additionalProperties": false }
        ],
        "description": "Either a MemoryItem or an empty object when none exists."
      }
    }
  },
  "paths": {
    "/save_memory": {
      "post": {
        "operationId": "save_memory",
        "security": [ { "MemoryKey": [] } ],
        "summary": "Save a compressed memory shard.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SaveMemoryRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory saved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SaveMemoryResponse" }
              }
            }
          }
        }
      }
    },
    "/latest_memory": {
      "get": {
        "operationId": "get_latest_memory",
        "security": [ { "MemoryKey": [] } ],
        "summary": "Return the most recent memory or empty object.",
        "responses": {
          "200": {
            "description": "Latest memory (or empty object)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LatestMemoryResponse" }
              }
            }
          }
        }
      }
    },
    "/get_memory": {
      "get": {
        "operationId": "get_memory",
        "security": [ { "MemoryKey": [] } ],
        "summary": "Return a list of memories (newest first).",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 10, "minimum": 1, "maximum": 200 }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of memory items",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MemoryList" }
              }
            }
          }
        }
      }
    }
  }
}
