{
  "openapi": "3.1.0",
  "info": {
    "title": "PMEi Memory API",
    "version": "1.0.2",
    "description": "Lawful memory shards for Dave/PMEi. Minimal, strict, privacy-first."
  },
  "servers": [
    { "url": "https://philmirrorenginei.ai" }
  ],
  "components": {
    "securitySchemes": {
      "MemoryKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Primary key header. (Server also accepts MEMORY_API_KEY for compatibility.)"
      }
    },
    "schemas": {
      "SaveMemoryRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "user_id": { "type": "string", "minLength": 1, "description": "🧸 Anchor: user" },
          "thread_id": { "type": "string", "minLength": 1, "description": "🧸 Anchor: thread" },
          "slide_id": { "type": "string", "minLength": 1, "description": "🧸 Anchor: slide" },
          "glyph_echo": { "type": "string", "minLength": 1 },
          "drift_score": { "type": "number", "minimum": 0, "maximum": 1 },
          "seal": { "type": "string", "minLength": 1 },
          "content": { "type": "string", "minLength": 1, "maxLength": 65536 }
        },
        "required": ["user_id","thread_id","slide_id","glyph_echo","drift_score","seal","content"]
      },
      "MemoryItem": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "user_id": { "type": "string" },
          "thread_id": { "type": "string" },
          "slide_id": { "type": "string" },
          "glyph_echo": { "type": "string" },
          "drift_score": { "type": "number" },
          "seal": { "type": "string" },
          "content": { "type": "string" },
          "ts": { "type": "integer", "format": "int64", "description": "UNIX seconds" }
        },
        "required": ["user_id","thread_id","slide_id","glyph_echo","drift_score","seal","content","ts"]
      },
      "MemoryList": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/MemoryItem" },
        "maxItems": 200
      },
      "SaveMemoryResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": { "type": "string", "enum": ["ok"] },
          "slide_id": { "type": "string" },
          "ts": { "type": "integer", "format": "int64" },
          "request_id": { "type": "string" }
        },
        "required": ["status","slide_id","ts","request_id"]
      },
      "MaybeMemory": {
        "type": "object",
        "description": "Latest memory or empty object {} when none.",
        "additionalProperties": false,
        "properties": {
          "user_id": { "type": "string" },
          "thread_id": { "type": "string" },
          "slide_id": { "type": "string" },
          "glyph_echo": { "type": "string" },
          "drift_score": { "type": "number" },
          "seal": { "type": "string" },
          "content": { "type": "string" },
          "ts": { "type": "integer", "format": "int64" }
        }
      },
      "PrivacyFilterRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": { "content": { "type": "string", "minLength": 1, "maxLength": 65536 } },
        "required": ["content"]
      },
      "PrivacyFilterResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": { "filtered_content": { "type": "string" } },
        "required": ["filtered_content"]
      },
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "request_id": { "type": "string" }
        },
        "required": ["error","code","request_id"]
      }
    },
    "parameters": {
      "p.limit": { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "minimum": 1, "maximum": 200 } },
      "p.user":  { "name": "user_id", "in": "query", "schema": { "type": "string" } },
      "p.thread":{ "name": "thread_id", "in": "query", "schema": { "type": "string" } },
      "p.slide": { "name": "slide_id", "in": "query", "schema": { "type": "string" } },
      "p.seal":  { "name": "seal", "in": "query", "schema": { "type": "string" } }
    }
  },
  "security": [{ "MemoryKey": [] }],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health_check",
        "security": [],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Return this OpenAPI schema",
        "operationId": "get_openapi",
        "security": [],
        "responses": { "200": { "description": "Schema JSON" } }
      }
    },
    "/save_memory": {
      "post": {
        "summary": "Save a compressed memory shard",
        "operationId": "save_memory",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SaveMemoryRequest" } } }
        },
        "responses": {
          "200": { "description": "Saved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SaveMemoryResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/latest_memory": {
      "get": {
        "summary": "Return the most recent memory or {}",
        "operationId": "get_latest_memory",
        "responses": {
          "200": { "description": "Latest memory", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MaybeMemory" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/get_memory": {
      "get": {
        "summary": "Return a list of memories (newest first)",
        "operationId": "get_memory",
        "parameters": [
          { "$ref": "#/components/parameters/p.limit" },
          { "$ref": "#/components/parameters/p.user" },
          { "$ref": "#/components/parameters/p.thread" },
          { "$ref": "#/components/parameters/p.slide" },
          { "$ref": "#/components/parameters/p.seal" }
        ],
        "responses": {
          "200": { "description": "Array of memory items", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MemoryList" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/privacy_filter": {
      "post": {
        "summary": "Filter sensitive/PII data before saving",
        "operationId": "privacy_filter",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrivacyFilterRequest" } } }
        },
        "responses": {
          "200": { "description": "Filtered text returned", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PrivacyFilterResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    }
  },
  "tags": [
    { "name": "memory", "description": "Save and query shards" },
    { "name": "privacy", "description": "PII filtering" },
    { "name": "ops", "description": "Operational endpoints" }
  ]
}
